#header-navbar {
  background-color: #2d2727;
  color: #FFFFFF;
}

.header-navbar-input {
  padding: 11px 16px;
  border-radius: 2px 0 0 2px;
  border: 0 none;
  outline: 0 none;
  font-size: 15px;
  color: #000;
}

.header-navbar-button {
  background-color: #ffe11b;
  border: 1px solid #ffe11b;
  border-radius: 0 2px 2px 0;
  color: #565656;
  padding: 10px 0;
  height: 43px;
  cursor: pointer;
}


@media screen and (min-width: 768px) {
  .largenav {
    display: block;
  }
  .smallnav{
    display: none;
  }
  .smallsearch{
    margin: 0px;
  }
}

.header-wrapper{
  padding-top:5px;
  padding-bottom:5px;

}




