<div id="header-navbar">
  <div class="container header-wrapper" >

    <div class="row">
      <div class="col-sm-2">
        <img ng-click="$ctrl.goHome()" class="brand-icon" src="/images/MarvelLogo.svg" />
      </div>
      <div class="header-navbar-search smallsearch col-sm-8 col-xs-11">
        <div class="row">
          <input class="header-navbar-input col-xs-11" type="text" placeholder="Search {{$ctrl.kind}}" ng-model="$ctrl.search" ng-model-options="{ debounce: 700 }" ng-change="$ctrl.onSearch({Query:$ctrl.search});">

            <span class="marvel-icon search-icon"></span>

        </div>
      </div>
    </div>
  </div>
</div>
