<div class="char-item">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-xs-12 image">

            <img ng-src="{{$ctrl.character.thumbnail.path}}/standard_xlarge.{{$ctrl.character.thumbnail.extension}}"
                 class="img-responsive img-circle char-img">

        </div>
        <div class="col-lg-7 col-md-7 col-xs-12">
            <h1 class="char-name">{{$ctrl.character.name}}</h1>
            <p class="char-description" ng-if="!$ctrl.full">
                {{$ctrl.character.description? ($ctrl.character.description | limitTo:65)+'...' : 'NO DATA AVALIABLE'}}
            </p>
            <p class="char-description" ng-if="$ctrl.full">
                {{$ctrl.character.description? ($ctrl.character.description) : 'NO DATA AVALIABLE'}}
            </p>



            <button type="button"  ng-if="!$ctrl.full" class="btn btn-primary" ng-click="$ctrl.goToDetails()">VIEW MORE</button>

        </div>
    </div>
    <div ng-if="!$ctrl.full &&$ctrl.character.comics.items.length > 0" class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h2 class="char-comics-head">Related comics</h2>
            <ul class="char-comics">
                <li ng-repeat="comic in $ctrl.character.comics.items | limitTo:4">{{comic.name}}</li>
            </ul>
        </div>
    </div>
    <div ng-if="$ctrl.full" class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h2 class="char-comics-head">Info</h2>
            <ul class="char-comics">
                <li>{{$ctrl.character.comics.available}} Comics</li>
                <li>{{$ctrl.character.events.available}} Events</li>
                <li>{{$ctrl.character.series.available}} Series</li>
                <li>{{$ctrl.character.stories.available}} Stories</li>
            </ul>
        </div>
    </div>




</div>
